<!DOCTYPE html>
<html>
  <head>
    <title>Vamos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-navbar-fixed-top" >
    <%= render "header"%>
    <div class="has-navbar-fixed-top has-navbar-fixed-bottom columns">
        <div class="column hero is-2 is-fullheight has-background-dark has-text-centered"><%= render "calendarbar" %></div>
        <div class="column hero is-8 box has-text-centered has-background-light" ><%= yield %></div>
        <div class="column hero is-2 has-background-dark has-text-centered"><%= render "messengerbar" %></div>
    </div>
    <%= render "footer"%>

  </body>
</html>
