<!DOCTYPE html>
<html>
  <head>
    <title>Vamos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid">
    <%= render "header"%>
    <div class="row text-center">
        <div class="col"><%= render "calendarbar" %></div>
        <div class="col-8"><%= yield %></div>
        <div class="col"><%= render "messengerbar" %></div>
    </div>
    <%= render "footer"%>

  </body>
</html>
